.App {
  text-align: center;
  background-image: url(./HackIllinoisTheme.png);
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  position: relative;
  margin: auto;
  margin-bottom: 3%;
  width: 60%;
  height: 50%;
}
.barImage {
  max-width: 160px;
}